[Desktop Entry]
Encoding=UTF-8
Name=Astra
Comment=Astra P2P Cryptocurrency
Exec=astra-qt %u
Terminal=false
Type=Application
Icon=astra128
MimeType=x-scheme-handler/astra;
Categories=Office;Finance;
Name[en_AU]=Astra
